#myTab .active {
	border-bottom: 3px solid #003459 !important;
    color: #003459 !important;
    font-weight: 700;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 992px) {
    #myTab .nav-link {
        width: 120px;
    }
    #myTab {
        bottom: -8px;
        padding: 0;
    }
}


