/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
 */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "Questrial", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  font-family: "Questrial", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  letter-spacing: 0.04em;
}

.text-main {
  color: #003459;
}
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
 */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "Questrial", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  font-family: "Questrial", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  letter-spacing: 0.04em;
}

/* COLOR */
.text-main {
  color: #003459;
}

.btn.btn-main {
  color: #fff;
  background-color: #003459;
  border-color: #003459;
}

.btn.btn-main:focus,
.btn.btn-main:hover {
  color: #fff;
}

.btn.btn-outline-main {
  color: #003459;
  border: 1px solid #003459;
}

.btn.btn-outline-main:hover, .btn.btn-outline-main:focus {
  color: #fff;
  background-color: #003459;
}

/* main section css */
.title {
  top: 10%;
}

.main-section-img {
  float: right;
  max-width: 70%;
}

.searchProperty {
  position: absolute !important;
  min-width: 95%;
  bottom: 6rem;
}

.searchProperty .nav-item {
  font-size: larger;
}

/* font size */
.fs-title {
  /* font-size: 50px; */
  font-size: 3.1rem;
}

/* widht and height */
.max-h-20 {
  max-height: 20rem;
}

.max-h-60 {
  max-height: 20rem;
}

.min-w-100 {
  min-width: 100%;
}

.w-70 {
  width: 70% !important;
}

.w-30 {
  width: 30% !important;
}

.object-cover {
  object-fit: cover;
}

.rounded-4 {
  border-radius: 15px;
}

/* carousel */

/* background transparency */
.opacity-50 {
  opacity: 50%;
}

/* navbar active */
#typeTab .active {
  border-bottom: 3px solid #003459 !important;
  color: #003459 !important;
  font-weight: 700;
}

#searchPropertyTab .active {
  color: #003459 !important;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

#searchPropertyTab .active::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 0.2em solid #003459 !important;
}

/* responsive */
/* mobile */
@media (max-width: 712px) {
  .fs-title {
    font-size: 1.6rem;
    text-align: center;
  }

  .title {
    width: 100%;
    margin-top: 20%;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
  }

  .main-section-img {
    max-width: 100%;
  }

  .main-section {
    display: flex;
    flex-direction: column;
  }

  .searchProperty {
    position: relative !important;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: small;
  }

  .searchProperty .nav-item {
    font-size: medium;
  }

  .justdiv {
    display: none;
  }
}

/* tablet */
@media screen and (max-width: 991px) and (min-width: 481px) {
  .fs-title {
    font-size: xx-large;
  }

  .searchProperty .nav-item {
    font-size: medium;
  }

  .searchProperty {
    bottom: 2rem !important;
    font-size: 0.8rem !important;
  }

  .search-property-form input,
  .search-property-form select {
    font-size: 0.88rem !important;
  }
}

@media screen and (max-width: 767px) and (min-width: 712px) {
  .searchProperty {
    min-width: 99%;
  }

  main-section .d-md-block {
    display: block !important;
  }
}

@media screen and (max-width: 711px) and (min-width: 481px) {

}

@media screen and (max-width: 1190px) and (min-width: 990px) {
  .searchProperty {
    bottom: 2rem !important;
    font-size: 1rem !important;
  }

  .searchProperty .nav-item {
    font-size: large;
  }
}
